/* Canvas Styles */
#canvas1 {
    border: 3px solid black;
    height: 800px;
    width: 800px;
    background-color: #f0e68c; /* Light yellow background to resemble a honeycomb */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    position: relative;
    margin: 0 auto; /* Center horizontally */
    padding-top: 20px; /* Add padding to the top */
}

/* Player Name Section */
.player-name {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Space between name and input */
    position: absolute;
    top:250px;
}

/* Input Name */
.input-name {
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px; /* Space between input and other elements */
}

/* Button Styles */
button {
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    border: 2px solid #555; /* Border to give a solid look */
    padding: 10px 20px; /* Padding for size */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px #999; /* Shadow for 3D effect */
    transition: all 0.3s ease; /* Smooth transition */
}

button:active {
    background-color: #555; /* Darker background on click */
    box-shadow: 0 2px #666; /* Reduce shadow on click */
}

#save_name {
    width: 200px;
    display: block;
    margin: 20px auto; /* Center horizontally */
}

#hit {
    position: absolute;
    bottom: 50px; /* Position above the bottom */
    left: 50%;
    transform: translateX(-50%);
}

#hit:active {
    background-color: #ff0000; /* Move down on click */
}

/* Last Hit Section */
#last_hit {
    text-align: center;
}

/* Wrapper for Bottom Buttons */
.wrapper_bottom_buttons {
    text-align: center;
    position: relative;
    top: -50px;
    display: none;
}

/* Flexbox Container */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}